/*
- em: It is relative to the font size of the parent. For example, if a parent 
font size is 20px, then 2em will equal 40px.
- rem: It's relative to root element font size, usually <html>. For example, 
if root font size is 16px, then 1rem equals 16px.
*/

.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, 1fr); /* 25% 25% 25%; repeat(3, 1fr); */
    grid-template-areas: 'one' 'two' 'three' 'four' 'five';

    /*padding-block-start: 2rem; padding-block-end: 2rem*/
    padding-block: 2rem 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.testimonial:nth-child(1) { grid-area: one; }
.testimonial:nth-child(2) { grid-area: two; }
.testimonial:nth-child(3) { grid-area: three; }
.testimonial:nth-child(4) { grid-area: four; }
.testimonial:nth-child(5) { grid-area: five; }

/*
@media screen and (min-width: 33em) {
    .testimonial-grid {
        grid-template-areas:
            "one one"
            "two three"
            "five five"
            "four four";
    }
}
  
@media screen and (min-width: 38em) {
    .testimonial-grid {
        grid-template-areas:
            "one one"
            "two five"
            "three five"
            "four four";
    }
}
  
@media screen and (min-width: 54em) {
    .testimonial-grid {
        grid-template-areas:
            "one one two"
            "five five five"
            "three four four";
    }
}
  
@media screen and (min-width: 75em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two five"
        "three four four five";
    }
}
*/