# /etc/systemd/system/kafka.service
[Unit]
Description=kafka Service
After=network-online.target 
Requires=network-online.target

[Service]
Type=simple
Restart=on-failure
User=kafka
Group=kafka
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/kafka/config/kraft/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh /opt/kafka/kafka/config/kraft/server.properties
WorkingDirectory=/opt/kafka

[Install]
WantedBy=multi-user.target
