/* extremely basic formatting */
body {
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
  border: 2px solid silver;
}

/* make image flex with container */
img {
  max-width: 100%;
}

/* remove default margin/padding */
figure {
  margin: 0;
  padding: 0;
  border-width: 2px;
}





.grid-container {
  display: grid;
  gap: 1rem 2rem; /* row-gap column-gap */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

figure {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 2px solid red;
}

figure:first-child {
  grid-column: 1/2;
  grid-row: 1/4;
  display: block;
}

figcaption {
  border: 2px dotted blue;
}