body {
    background-image: url("images/background_central-park.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    color: gray;
    /*background-color: skyblue;*/
    background: linear-gradient(to right, skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    border-radius: 5px;
}

p {
    color: gray;
    /*background: linear-gradient(to left, skyblue, white);*/
    background: rgba(192, 192, 192, 0.3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 5px;
    padding: 10px
}
